.user-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 70%;
  padding-bottom: 16px;
  
  & a {
    color: #fff !important;
    transition: transform .1s ease-in;
  }

  & a:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 968px) {
  .user-links {
    max-width: 100%;
  }
}
